<a href="https://colab.research.google.com/github/sarveshs1604/SRM/blob/main/ml_exp_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
#addition of 2 number
#check a given number is odd or even
#check the number is prime or not
#largest of 4 numbers
#factorial of a numbers
#reversing a number
#CHECK THE given number is palinrom or not
#find the sum of digits of a number
#create a multiplication table
#simple calculator
#print a pattern

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print(a+b)

enter first number2
enter second number45
47

In [ ]:
a=int(input("enter a number"))
if a%2==0:
    print("number is even")
else:
  print("number is odd")

enter a number4
number is even

In [ ]:
a=int(input("enter a number"))
b=0
for i in range(2,a):
  if a%i==0:
    b+=1
    break
if(b==0):
  print("prime number")
else:
  print("not a prime number")

enter a number12
not a prime number

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
d=int(input("enter a number"))
l=[a,b,c,d]
print(max(l))

enter a number3
enter a number6
enter a number1
enter a number124
124

In [ ]:
b=int(input("enter a number"))
c=1
for i in range(1,b+1):
  c*=i
print(c)

enter a number5
120

In [ ]:
a=int(input("enter number"))
b=str(a)
c=b[::-1]
print(int(c))

enter number1234
4321

In [ ]:
a=input("enter sequence")
b=a[::-1]
if b==a:
  print("palindrome")
else:
  print("not palindrome")

enter a numberasdfa
not palindrome

In [ ]:
a=int(input("enter the number"))
q=0
b=str(a)
for i in range (len(b)):
  c=0
  c=a%10
  a=a//10
  q+=c
print(q)

enter the number56
11

In [ ]:
a=int(input("table value"))
b=int(input("enter the number of multi"))
for i in range(1,b+1):
  print(a,"*",i,"=",a*i)

table value10
enter the number of multi10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
d=input("enter the symbol")
match(d):
  case "+":
    print(a+b)
  case "-":
    print(a-b)
  case "*":
    print(a*b)
  case "/":
    print(a/b)

enter a number12
enter a number23
enter the symbol+
35

In [ ]:
for i in range(6):
  print(i*"*")
  print("\n")

*


**


***


****


*****